*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position:relative;
    left:0;
    top:0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width:100%;
    align-items: center;
    background-color: rgb(17, 35, 70);
}
header h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: slideLeft 1s ease forwards;
    animation-delay: .5s;
    color:orangered
}
header a{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.navbar a{
    display:inline-flex ;
    font-size: 35px;
    margin-left: 35px;
    color:white;
    text-decoration: none;
    font-weight: 700;
}
.rate{
    background-color: rgb(77, 44, 196);
    width:100%;
    height:50px;
    display: inline-flex;
    justify-content:space-evenly;
    color:beige
}
.navbar a:hover{
    color: rgb(228, 15, 15);
}
.navbar{
    margin-bottom: 30px;
    animation:slideTop 1s ease forwards;
    animation-delay: .7s;
}
.home{
    position: relative;
    width:100%;
    justify-content: space-between;
    height: 110vh;
    background: url(home.png) no-repeat;
    background-position:right;
    background-size: contain;
    display: flex;
    padding:40px 20px;
    background-color: rgb(17, 35, 70);
}
.home-content{
    max-width: 600px;
    margin-left: 100px;;
}
.home-content h1{
    font-family:"Lucida Handwriting", cursive;
    font-size: 56px;
    font-weight: 400;
    margin:-3px 0;
    margin-top: 80px;
    color:gold;
    animation:slideTop 1s ease forwards;
    animation-delay: .7s;
}
.home-content p{
    font-size: 20px;
    margin-top:80px ;
    color:rgb(17, 214, 67)
}
.image{
    width:50px;
    height: 50px;
    margin-top: 90px;
}
.photo{
    position: relative;
    display:flex
}
.rate span{
    background-color: rgb(81, 46, 207);
    color: gold;
    font-weight: 700;
    font-family:'Times New Roman', Times, serif
}
.tags a{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width:40px;
    height:40px;
    background: transparent;
    border: 2px solid #09e2d7;
    border-radius: 50%;
    font-size:30px;
    color: aqua;
    text-decoration: none;
    margin:30px 15px 30px 0;
}
.home a:hover{
    box-shadow:0 0 20px rgb(7, 199, 212);
    color:#081b29;
    background-color: #0ef;
}
.btn{
    display: inline-block;
    padding:12px 28px;
    background-color: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color:black;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}
@keyframes slideTop{
    0%{
        transform:translatey(-100px);
        opacity: 0;
    }
    100%{
        transform:translatey(0px);
        opacity:1;
    }
}
@keyframes slideLeft{
    0%{
        transform:translatex(-100px);
        opacity: 0;
    }
    100%{
        transform:translatex(0px);
        opacity:1;
    }
}
.home-content h1:hover{
    font-size: 58px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.9s;
}
   